flows.json
[
    {
        "id": "b057cee15eccc188",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee1dbb67232fd861",
        "type": "mqtt out",
        "z": "b057cee15eccc188",
        "name": "CMD Cozinha",
        "topic": "cozinha/lamp/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a017f7deb154ca0c",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "99c46fef75a37152",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Status Cozinha",
        "topic": "cozinha/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "aa9a8ce6bc877e85",
                "f9530299bf4772dc"
            ]
        ]
    },
    {
        "id": "aa9a8ce6bc877e85",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Cozinha",
        "label": "Cozinha",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "f9530299bf4772dc",
        "type": "ui_switch",
        "z": "b057cee15eccc188",
        "name": "Cozinha",
        "label": "switch",
        "tooltip": "",
        "group": "4414847af5f3fa43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "ee1dbb67232fd861"
            ]
        ]
    },
    {
        "id": "73c68a23188ee84f",
        "type": "mqtt out",
        "z": "b057cee15eccc188",
        "name": "CMD Quarto",
        "topic": "quarto/lamp/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a017f7deb154ca0c",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "eaafd99e46b20b8f",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Status Quarto",
        "topic": "quarto/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "8db31128fe63281f",
                "a2877112f9972b8b"
            ]
        ]
    },
    {
        "id": "8db31128fe63281f",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Quarto",
        "label": "Quarto",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "a2877112f9972b8b",
        "type": "ui_switch",
        "z": "b057cee15eccc188",
        "name": "Quarto",
        "label": "switch",
        "tooltip": "",
        "group": "4414847af5f3fa43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "73c68a23188ee84f"
            ]
        ]
    },
    {
        "id": "0c885d9631bdf825",
        "type": "mqtt out",
        "z": "b057cee15eccc188",
        "name": "CMD Sala",
        "topic": "sala/lamp/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a017f7deb154ca0c",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "8fb57f29dabfcb04",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Status Sala",
        "topic": "sala/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "74e88304a5f02373",
                "ccf57e434f261453"
            ]
        ]
    },
    {
        "id": "74e88304a5f02373",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Sala",
        "label": "Sala",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "ccf57e434f261453",
        "type": "ui_switch",
        "z": "b057cee15eccc188",
        "name": "Sala",
        "label": "switch",
        "tooltip": "",
        "group": "4414847af5f3fa43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "0c885d9631bdf825"
            ]
        ]
    },
    {
        "id": "2a295da8aa0e72bb",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Gas Cozinha",
        "topic": "cozinha/gas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "6a80cad59f9978e7"
            ]
        ]
    },
    {
        "id": "6a80cad59f9978e7",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Gas Cozinha",
        "label": "Gas Cozinha",
        "format": "{{msg.payload}}ppm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "a0a9731c22cf7976",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Gas Cozinha Nivel",
        "topic": "cozinha/gas/nivel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "38a6ca2059e4df2a"
            ]
        ]
    },
    {
        "id": "38a6ca2059e4df2a",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Gas Cozinha Nivel",
        "label": "Gas Cozinha Nivel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "3e115bd83ea08aab",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Gas Cozinha Digital",
        "topic": "cozinha/gas/digital",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "7ab49acf163dbd54"
            ]
        ]
    },
    {
        "id": "7ab49acf163dbd54",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Gas Cozinha Digital",
        "label": "Gas Cozinha Digital",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "e240fe5c12384c66",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Status Temperatura",
        "topic": "quarto/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "6fd18fd20c35c7f4",
                "ef95f5c90416c453"
            ]
        ]
    },
    {
        "id": "6fd18fd20c35c7f4",
        "type": "ui_chart",
        "z": "b057cee15eccc188",
        "name": "",
        "group": "4414847af5f3fa43",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ef95f5c90416c453",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Temperatura",
        "label": "Temperatura",
        "format": "{{msg.payload}}C°",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "c28c54655e8a2ec7",
        "type": "mqtt in",
        "z": "b057cee15eccc188",
        "name": "Status Umidade",
        "topic": "quarto/umidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc1117cb1160bf5c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 640,
        "wires": [
            [
                "a18d0e7040a3d791",
                "e7220b88c738fdc3"
            ]
        ]
    },
    {
        "id": "a18d0e7040a3d791",
        "type": "ui_chart",
        "z": "b057cee15eccc188",
        "name": "",
        "group": "4414847af5f3fa43",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e7220b88c738fdc3",
        "type": "ui_text",
        "z": "b057cee15eccc188",
        "group": "4414847af5f3fa43",
        "width": "",
        "height": "",
        "name": "Umidade",
        "label": "Umidade",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 460,
        "y": 660,
        "wires": []
    },
    {
        "id": "a017f7deb154ca0c",
        "type": "mqtt-broker",
        "name": "mosquitto.test",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc1117cb1160bf5c",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4414847af5f3fa43",
        "type": "ui_group",
        "name": "Automação",
        "tab": "9a67c22151f8f768",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a67c22151f8f768",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]